$text-color: #4b4c53;
$higlight-text-color: #DA8950;
$standard-text-color: #2E2E2E;

.about {
    margin: 0 20px;
    height: auto;

    @include media('>tablet', '<=desktop') {}

    @include media('>desktop', '<=1440px') {}

    @include media('>1440px') {}

    .bio-element-wrapper {
        width: 80vw;
        margin: auto;
        font-family: 'Raleway', sans-serif;
        color: #2E2E2E;
        margin-bottom: 0.3em;
        line-height: 1.7;
    
        @include media('>tablet', '<=desktop') {}
    
        @include media('>desktop', '<=1440px') {}
    
        @include media('>1440px') {}

        .bio-element-description {
            margin-top: 1em;
            margin-bottom: 1em;
            overflow: hidden;

            a {
                text-decoration: none;
                color: $higlight-text-color;
            }

            .a-2-span{
                font-size: 2.8vh;
                display: block;
                opacity: 1;
            }
        }

        h1 {
            font-size: 6.5vh;
        }

        h2 {
            font-size: 3.5vh;
        }
    }
}

