$text-color: #4b4c53;
$higlight-text-color: #DA8950;
$standard-text-color: #2E2E2E;

.about {
    margin-top: 3em;
    width: 100vw;
    height: auto;

    .bio-element-wrapper {
        width: 80vw;
        margin: auto;
        font-family: 'Raleway', sans-serif;
        color: #2E2E2E;
        margin-bottom: 0.3em;
        line-height: 1.7;
        overflow: hidden;

        .bio-element-description {
            margin-top: 1em;
            margin-bottom: 1em;
            overflow: hidden;

            a {
                text-decoration: none;
                color: $higlight-text-color;
            }

            .a-2{
                opacity: 0;
            }

            .a-2-span{
                font-size: 2.8vh;
                display: block;
                opacity: 1;
                -webkit-animation: fade-in-txt-left 2s ease-in-out;
            }

            .a-2-d{
                overflow: hidden;
            }
        }

        h1 {
            font-size: 6.5vh;
        }

        h2 {
            font-size: 3.5vh;
        }

        .bio-element {

            overflow: hidden;

            h1 {
                overflow: hidden;
            }

            .a1 {
                opacity: 0;
            }

            .a2 {
                opacity: 0;
            }

            .a-1-h1 {
                display: block;
                opacity: 1;
                -webkit-animation: fade-in-txt 1.3s ease-in-out;
            }

            .a-2-h1 {
                display: block;
                opacity: 1;
                -webkit-animation: fade-in-txt 1.35s ease-in-out;
            }
        }
    }
}

