.home {
    // position: relative;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    line-height: 70px;
    min-height: 80vh;
    height: 80vh;
    overflow: hidden;

    h1 {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 10vh;
        overflow: hidden;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        margin: 0;
        text-align: center;
        color: #2E2E2E;
        font-size: 2.5vh;
        overflow: hidden;
    }

    .a-0-h1 {
        display: block;
        -webkit-animation: fade-in-txt 1.4s ease-in-out;
    }

    .a-0-h3 {
        display: block;
        -webkit-animation: fade-in-txt 1.8s ease-in-out;
    }

    h3 {
        display: block;
    }

    img {
        padding-top: 8rem;
        -webkit-animation:
            fade-in-img 2s ease-in-out,
            moving 1.8s 2s infinite ease-in-out;
        transform: translateY(75%);
    }

}

@keyframes moving {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fade-in-img {
    0% {
        transform: translate3d(0px, 100%, 0px);
    }

    100% {
        transform: translate3d(0px, 0%, 0px);
    }
}

@keyframes fade-in-txt {
    0% {
        transform: translate3d(0px, 200%, 0px);
    }

    100% {
        transform: translate3d(0px, 0%, 0px);
    }
}