@import '../abstracts/breakpoints.scss';

.home {


    @include media('<=phone') {
        width: 100vw;
        min-height: 100vh;
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    @include media('>phone', '<=425px') {
        width: 100vw;
        min-height: 100vh;
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    @include media('>425px', '<=tablet') {
        width: 100vw;
        min-height: 100vh;
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    @include media('>tablet', '<=desktop') {}

    @include media('>desktop', '<=1440px') {}

    @include media('>1440px') {}

    .quote {

        @include media('<=phone') {
            position: absolute;
            width: 100%;
            display: inline-block;
            top: 50%;
            transform: translate(0, -50%);

            h1 {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                color: #2E2E2E;
                font-size: 3.5rem;
                overflow: hidden;
            }

            h4 {
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                margin: 0;
                text-align: center;
                color: #2E2E2E;
                font-size: 1rem;
                overflow: hidden;
            }
        }

        @include media('>phone', '<=425px') {
            position: absolute;
            width: 100%;
            display: inline-block;
            top: 50%;
            transform: translate(0, -50%);

            h1 {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                color: #2E2E2E;
                font-size: 3.5rem;
                overflow: hidden;
            }

            h4 {
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                margin: 0;
                text-align: center;
                color: #2E2E2E;
                font-size: 1rem;
                overflow: hidden;
            }
        }

        @include media('>425px', '<=tablet') {
            position: absolute;
            width: 100%;
            display: inline-block;
            top: 50%;
            transform: translate(0, -50%);

            h1 {
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                color: #2E2E2E;
                font-size: 8.5rem;
                overflow: hidden;
            }

            h4 {
                font-family: 'Raleway', sans-serif;
                font-weight: lighter;
                margin: 0;
                text-align: center;
                color: #2E2E2E;
                font-size: 2rem;
                overflow: hidden;
            }
        }

        @include media('>tablet', '<=desktop') {}

        @include media('>desktop', '<=1440px') {}

        @include media('>1440px') {}
    }

    img {

        @include media('<=phone') {
            width: 24px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 20px;
            -webkit-animation:
                fade-in-img 2s ease-in-out,
                moving 1.8s 2s infinite ease-in-out;
        }

        @include media('>phone', '<=425px') {
            width: 24px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 20px;
            -webkit-animation:
                fade-in-img 2s ease-in-out,
                moving 1.8s 2s infinite ease-in-out;
        }

        @include media('>425px', '<=tablet') {
            width: 36px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 20px;
            -webkit-animation:
                fade-in-img 2s ease-in-out,
                moving 1.8s 2s infinite ease-in-out;
        }

        @include media('>tablet', '<=desktop') {}

        @include media('>desktop', '<=1440px') {}

        @include media('>1440px') {}
    }

}