@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'src/stylesheets/abstracts/mixins';

.header {
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    overflow: hidden;

    .logo-mobile {

        @include for-phone-only {
            padding-left: 50px;
            padding-top: 50px;
            -webkit-animation: fade-in-img 0.9s ease-in-out;
        }
    }

    .topic {

        @include for-phone-only {
            padding-right: 50px;
            height: 100%;
            padding-top: 50px;
            text-align: right;
            letter-spacing: normal;
            overflow: hidden;
        }

        h1 {

            @include for-phone-only {
                margin: 0;
                color: #2E2E2E;
                font-size: 6.25vw;
                font-family: 'Raleway', sans-serif;
                -webkit-animation: fade-in-txt 1.1s ease-in-out;
            }

        }

        h3 {

            @include for-phone-only {
                font-family: 'Raleway',
                    sans-serif;
                margin: 0;
                font-size: 15px;
                color: #707070;
                -webkit-animation: fade-in-txt 1.2s ease-in-out;
            }


        }
    }

    img {

        @include for-phone-only {
            width: 60px;
            height: 102px;
        }
    }
}