.works {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    -webkit-box-align: center;

    .main-label-name {
        font-size: 3.2vh;
        line-height: 15vw;
        font-family: 'Raleway', sans-serif;
        color: #2E2E2E;
        // margin-left: 10vw;
        padding-left: 5vh;
        margin-top: 6vh;

        h1 {
            padding: 0;
            margin: 0;
        }
    }

    .project-container {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin-top: 6vh;
        margin-bottom: 6vh;
        text-align: center;

        .label {
            margin-top: 1.5vh;
            position: relative;
            display: block;
            font-family: 'Raleway', sans-serif;
            color: #2E2E2E;
            

            .label-data {
                font-size: 4vw;
            }

            .label-heading {
                display: block;
                position: relative;
                padding-top: 1vh;
                font-size: 8vw;

                &:before{
                    content: '';
                    position: absolute;
                    // bottom: 0;
                    width: 1px;
                    background-color: #D1D1D1;
                    top: calc(100% + 20px);
                    right: 50%;
                    height: 46px;
                }
            }
        }

        img {
            margin: auto;
            width: 80vw;
            max-height: 20vh;
            filter: grayscale(100%);
        }
    }
}