@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '../../abstracts/breakpoints.scss';

.header {
    position: absolute;
    display: flex;
    z-index: 10;
    top: 0;
    left: 0;
    margin-top: 20px;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    // overflow: hidden;

    @include media('>425px', '<=tablet') {
        height: 128px;
    }

    .logo-mobile {

        left: 0;

        @include media('<=phone') {
            width: 48px;
            margin-left: 20px;

            img {
                width: 48px;
                height: 64px;
            }
        }

        @include media('>phone', '<=425px') {
            width: 48px;
            margin-left: 40px;

            img {
                width: 48px;
                height: 64px;
            }
        }

        @include media('>425px', '<=tablet') {
            width: 96px;
            margin-top: 60px;
            margin-left: 80px;

            img {
                width: 96px;
                height: 128px;
            }
        }

        @include media('>tablet', '<=desktop') {}

        @include media('>desktop', '<=1440px') {}

        @include media('>1440px') {}
    }

    .topic {

        text-align: right;

        @include media('<=phone') {
            width: auto;
            margin-right: 20px;
            letter-spacing: 1.2px;

            h1 {
                margin: 0;
                color: #2E2E2E;
                font-size: 6.25vw;
                font-family: 'Raleway', sans-serif;
            }

            h3 {
                font-family: 'Raleway',
                    sans-serif;
                margin: 0;
                font-size: 1rem;
                color: #707070;
            }
        }

        @include media('>phone', '<=425px') {
            width: auto;
            margin-right: 40px;
            letter-spacing: 1.2px;

            h1 {
                margin: 0;
                color: #2E2E2E;
                font-size: 6.25vw;
                font-family: 'Raleway', sans-serif;
            }

            h3 {
                font-family: 'Raleway',
                    sans-serif;
                margin: 0;
                font-size: 1rem;
                color: #707070;
            }
        }

        @include media('>425px', '<=tablet') {
            width: auto;
            margin-right: 80px;
            margin-top: 60px;
            letter-spacing: 1.2px;

            h1 {
                margin: 0;
                color: #2E2E2E;
                font-size: 6.25vw;
                font-family: 'Raleway', sans-serif;
            }

            h3 {
                font-family: 'Raleway',
                    sans-serif;
                margin: 0;
                font-size: 2rem;
                color: #707070;
            }
        }

        @include media('>tablet', '<=desktop') {}

        @include media('>desktop', '<=1440px') {}

        @include media('>1440px') {}
    }
}