.home {

    margin-top: 20px;
    padding: 0;
    width: 100%;
    line-height: 70px;
    min-height: 60vh;

    h1 {
        margin: 0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        color: #2E2E2E;
        font-size: 10.25vh;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        margin: 0;
        text-align: center;
        color: #2E2E2E;
        font-size: 2vh;
    }

    .logo-mouse {
        width: 100%;
        margin-top: 150px;
        text-align: center;

        img {
            -webkit-animation: moving 1.8s infinite ease-in-out;
        }
    }
}

@keyframes moving {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}