@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header {
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    height: 30vh;
    min-height: 30vh;

    .logo-mobile {
        transform: translate(50px, 50px);
    }

    .topic {
        transform: translate(-50px, 50px);
        text-align: right;
        letter-spacing: normal;

        h1 {
            margin: 0;
            color: #2E2E2E;
            font-size: 6.25vw;
            font-family: 'Raleway', sans-serif;

        }

        h3 {
            font-family: 'Raleway', sans-serif;
            margin: 0;
            font-size: 15px;
            color: #707070;
        }
    }

    img {
        width: 60px;
        height: 102px;
    }
}